<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


  
  
  
  
  
  <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
  <!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
  <!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
  <!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
  <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
  <!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
  <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
  
  <header class="header-section">

    <div class="nav-item">
        <div class="container">
            <div class="nav-depart">
                <div class="depart-btn">
                    <i class="ti-menu"></i>
                    <span>All departments</span>
                    <ul class="depart-hover">
                        <li class="active"><a href="home">Home</a></li>
                        <li><a href="listachat">Acheter</a></li>
                        <li><a href="listloc">Louer</a></li>
                        <li><a href="diposer">Diposer</a></li>
                    </ul>
                </div>
            </div>
            
            <nav class="nav-menu mobile-menu">
                <ul>
                    <li class="active"><a href="">Home</a></li>
                    <li><a href="update">Profile</a></li>
                    <li><a href="">Collection</a>
                        <ul class="dropdown">
                            <li><a href="listfav">Favoris</a></li>
                            <li><a href="mypub">Mes Publication</a></li>
                        </ul>
                    </li>
                    <li><a href="about">About Us</a></li>
                    
                </ul>
            </nav>
            <div id="mobile-menu-wrap"></div>
        </div>
    </div>
  </header>
  <section class="hero-section">
    <div class="hero-items owl-carousel">
        <div class="single-hero-items set-bg" data-setbg="assets/img/hero-1.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5">
                        <span>Achat,Location</span>
                        <h1>DARII</h1>
                        <p>Acheter et Louer les plus beaux Locaux</p>
                    </div>
                </div>
                <div class="off-card">
                    <h2>Sale <span>50%</span></h2>
                </div>
            </div>
        </div>
        <div class="single-hero-items set-bg" data-setbg="assets/img/hero-2.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5">
                        <span>Achat,Location</span>
                        <h1>DARII</h1>
                        <p>Acheter et Louer les plus beaux Locaux</p>
                    </div>
                </div>
                <div class="off-card">
                    <h2>Sale <span>50%</span></h2>
                </div>
            </div>
        </div>
    </div>
  </section>
  <div class="banner-section spad">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4">
                <div class="single-banner">
                    <img src="assets/img/banner-1.jpg" alt="" />
                    <div class="inner-text">
                        <h4><a href="listloc">Louer</a></h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-banner">
                    <img href="listachat" src="assets/img/banner-2.jpg" alt="" />
                    <div class="inner-text">
                        <h4><a href="listachat">Acheter</a></h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-banner">
                    <img src="assets/img/banner-3.jpg" alt="" />
                    <div class="inner-text">
                        <h4><a href="diposer">Diposer</a></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  
  
  <section class="man-banner spad">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8">
              
                <div class="product-slider owl-carousel">
                    <div class="product-item">
                        <div class="pi-pic">
                            <img src="assets/img/man-large1.jpg" alt="" />
                            <div class="sale">Sale</div>
                            <div class="icon">
                                <i class="icon_heart_alt"></i>
                            </div>
                            <ul>
                                <li class="w-icon active"><a href="listloc"><i class="icon_bag_alt"></i></a></li>
                                <li class="quick-view"><a href="listloc">+ Quick View</a></li>
                                <li class="w-icon"><a href="listloc"><i class="fa fa-random"></i></a></li>
                            </ul>
                        </div>
                        <div class="pi-text">
                            <div class="catagory-name">Coat</div>
                            <a href="listloc">
                                <h5>ru3</h5>
                            </a>
                            <div class="product-price">
                                14.00
                            </div>
                        </div>
                    </div>
                    <div class="product-item">
                        <div class="pi-pic">
                            <img src="assets/img/man-large2.jpg" alt="" />
                            <div class="icon">
                                <i class="icon_heart_alt"></i>
                            </div>
                            <ul>
                                <li class="w-icon active"><a href="listloc"><i class="icon_bag_alt"></i></a></li>
                                <li class="quick-view"><a href="listloc">+ Quick View</a></li>
                                <li class="w-icon"><a href="listloc"><i class="fa fa-random"></i></a></li>
                            </ul>
                        </div>
                        <div class="pi-text">
                            <div class="catagory-name">Shoes</div>
                            <a href="listloc">
                                <h5>ru2</h5>
                            </a>
                            <div class="product-price">
                                13.00
                            </div>
                        </div>
                    </div>
                    <div class="product-item">
                        <div class="pi-pic">
                            <img src="assets/img/man-large4.jpg" alt="" />
                            <div class="icon">
                                <i class="icon_heart_alt"></i>
                            </div>
                            <ul>
                                <li class="w-icon active"><a href="listloc"><i class="icon_bag_alt"></i></a></li>
                                <li class="quick-view"><a href="listloc">+ Quick View</a></li>
                                <li class="w-icon"><a href="listloc"><i class="fa fa-random"></i></a></li>
                            </ul>
                        </div>
                        <div class="pi-text">
                            <div class="catagory-name">Towel</div>
                            <a href="listloc">
                                <h5>ru1</h5>
                            </a>
                            <div class="product-price">
                                34.00
                            </div>
                        </div>
                    </div>
                    <div class="product-item">
                        <div class="pi-pic">
                            <img src="assets/img/man-large3.jpg" alt="" />
                            <div class="icon">
                                <i class="icon_heart_alt"></i>
                            </div>
                            <ul>
                                <li class="w-icon active"><a href="listloc"><i class="icon_bag_alt"></i></a></li>
                                <li class="quick-view"><a href="listloc">+ Quick View</a></li>
                                <li class="w-icon"><a href="listloc"><i class="fa fa-random"></i></a></li>
                            </ul>
                        </div>
                        <div class="pi-text">
                            <div class="catagory-name">Towel</div>
                            <a href="listloc">
                                <h5>ru3</h5>
                            </a>
                            <div class="product-price">
                                34.00
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 offset-lg-1">
                <div class="product-large set-bg m-large" data-setbg="assets/img/man-large3.jpg">
                    <h2>LOUER</h2>
                    <a href="listloc">Afficher PLus</a>
                </div>
            </div>
        </div>
    </div>
  </section>

  <section class="man-banner spad">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8">
              
                <div class="product-slider owl-carousel">
                    <div class="product-item">
                        <div class="pi-pic">
                            <img src="assets/img/man-large1.jpg" alt="" />
                            <div class="sale">Sale</div>
                            <div class="icon">
                                <i class="icon_heart_alt"></i>
                            </div>
                            <ul>
                                <li class="w-icon active"><a href="listachat"><i class="icon_bag_alt"></i></a></li>
                                <li class="quick-view"><a href="listachat">+ Quick View</a></li>
                                <li class="w-icon"><a href="listachat"><i class="fa fa-random"></i></a></li>
                            </ul>
                        </div>
                        <div class="pi-text">
                            <div class="catagory-name">Coat</div>
                            <a href="listachat">
                                <h5>ru3</h5>
                            </a>
                            <div class="product-price">
                                14.00
                                <span>35.00</span>
                            </div>
                        </div>
                    </div>
                    <div class="product-item">
                        <div class="pi-pic">
                            <img src="assets/img/man-large2.jpg" alt="" />
                            <div class="icon">
                                <i class="icon_heart_alt"></i>
                            </div>
                            <ul>
                                <li class="w-icon active"><a href="listachat"><i class="icon_bag_alt"></i></a></li>
                                <li class="quick-view"><a href="listachat">+ Quick View</a></li>
                                <li class="w-icon"><a href="listachat"><i class="fa fa-random"></i></a></li>
                            </ul>
                        </div>
                        <div class="pi-text">
                            <div class="catagory-name">Shoes</div>
                            <a href="listachat">
                                <h5>ru2</h5>
                            </a>
                            <div class="product-price">
                                13.00
                            </div>
                        </div>
                    </div>
                    <div class="product-item">
                        <div class="pi-pic">
                            <img src="assets/img/man-large3.jpg" alt="" />
                            <div class="icon">
                                <i class="icon_heart_alt"></i>
                            </div>
                            <ul>
                                <li class="w-icon active"><a href="listachat"><i class="icon_bag_alt"></i></a></li>
                                <li class="quick-view"><a href="listachat">+ Quick View</a></li>
                                <li class="w-icon"><a href="listachat"><i class="fa fa-random"></i></a></li>
                            </ul>
                        </div>
                        <div class="pi-text">
                            <div class="catagory-name">Towel</div>
                            <a href="listachat">
                                <h5>ru1</h5>
                            </a>
                            <div class="product-price">
                                34.00
                            </div>
                        </div>
                    </div>
                    <div class="product-item">
                        <div class="pi-pic">
                            <img src="assets/img/man-large4.jpg" alt="" />
                            <div class="icon">
                                <i class="icon_heart_alt"></i>
                            </div>
                            <ul>
                                <li class="w-icon active"><a href="listachat"><i class="icon_bag_alt"></i></a></li>
                                <li class="quick-view"><a href="listachat">+ Quick View</a></li>
                                <li class="w-icon"><a href="listachat"><i class="fa fa-random"></i></a></li>
                            </ul>
                        </div>
                        <div class="pi-text">
                            <div class="catagory-name">Towel</div>
                            <a href="listachat">
                                <h5>ru4</h5>
                            </a>
                            <div class="product-price">
                                34.00
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 offset-lg-1">
                <div class="product-large set-bg m-large" data-setbg="assets/img/man-large4.jpg">
                    <h2>Acheter</h2>
                    <a href="listachat">Afficher Plus</a>
                </div>
            </div>
        </div>
    </div>
  </section>


  
  <div class="instagram-photo">
    <div class="insta-item set-bg" data-setbg="assets/img/man-large4.jpg">
        <div class="inside-text">
            <i class="ti-instagram"></i>
            <h5><a href="https://www.instagram.com/darii6197">DARII_Collection</a></h5>
        </div>
    </div>
    <div class="insta-item set-bg" data-setbg="assets/img/man-large2.jpg">
        <div class="inside-text">
            <i class="ti-instagram"></i>
            <h5><a href="https://www.instagram.com/darii6197">DARII_Collection</a></h5>
        </div>
    </div>
    <div class="insta-item set-bg" data-setbg="assets/img/man-large1.jpg">
        <div class="inside-text">
            <i class="ti-instagram"></i>
            <h5><a href="https://www.instagram.com/darii6197">DARII_Collection</a></h5>
        </div>
    </div>
    <div class="insta-item set-bg" data-setbg="assets/img/man-large3.jpg">
        <div class="inside-text">
            <i class="ti-instagram"></i>
            <h5><a href="https://www.instagram.com/darii6197">DARII_Collection</a></h5>
        </div>
    </div>
    <div class="insta-item set-bg" data-setbg="assets/img/banner-2.jpg">
        <div class="inside-text">
            <i class="ti-instagram"></i>
            <h5><a href="https://www.instagram.com/darii6197">DARII_Collection</a></h5>
        </div>
    </div>
    <div class="insta-item set-bg" data-setbg="assets/img/banner-3.jpg">
        <div class="inside-text">
            <i class="ti-instagram"></i>
            <h5><a href="https://www.instagram.com/darii6197">DARII_Collection</a></h5>
        </div>
    </div>
  </div>
  
  <div class="partner-logo">
    <div class="container">
        <div class="logo-carousel owl-carousel">
            <div class="logo-item">
                <div class="tablecell-inner">
                    <img src="assets/img/logo-1.png" alt="" />
                </div>
            </div>
            <div class="logo-item">
                <div class="tablecell-inner">
                    <img src="assets/img/logo-2.png" alt="" />
                </div>
            </div>
            <div class="logo-item">
                <div class="tablecell-inner">
                    <img src="assets/img/logo-3.png" alt="" />
                </div>
            </div>
            <div class="logo-item">
                <div class="tablecell-inner">
                    <img src="assets/img/logo-4.png" alt="" />
                </div>
            </div>
            <div class="logo-item">
                <div class="tablecell-inner">
                    <img src="assets/img/logo-5.png" alt="" />
                </div>
            </div>
        </div>
    </div>
  </div>
  